body {
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
div {
    border: 1px solid blue;
}

#page1-head {
    text-align: center;
} 

#tag-line {
    font-size: 16px;
    line-height: 0px;
}

#intro-heading {
    text-align: center;
}

#intro {
    text-align: justify;
}

#answer {
    width: 70%;
}

thead {
    width: 80%;
}

#response-head {
    width: 80%;
}

#answer-section, #set-list {
    display: none;
}

td {
    text-align: left;
}

#set-answers {
    margin-bottom: 20px;
}

#save-modal {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: none;
}

#save-modal-block {
    background-color: white;
    height: 200px;
    width: 70%;
    margin: 100px auto;
}

/* #exit {
    left: 2em;
    bottom: 2em;
}

#continue {
    right: 2em;
    bottom: 2em;
} */