body {
    background-color: rgba(150, 188, 250, 1);
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center; 
}
/* =========Intro Heading ======== */
.inset-page {
    max-width: 90%;
    margin: 30px 0;
    background: rgba(247, 244, 223, 1);
    border: 4px solid rgb(245, 229, 105);    
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .5), inset -2px -2px 2px rgba(0, 0, 0, .5);
}

#gimme5 {
    margin: 10px 0 5px 0;
    font-size: 56px;
}

#tag-top {
    margin: 5px 0 5px 0;
}
#tag-bottom {
    margin-top: 4px;
    padding: 0;
}

.ital {
    font-style: italic;
}

#intro-head, .instructions, #display, #set-list, #char-list {
    border: 2px solid  rgba(150, 188, 250, 1);
    margin: 20px;
    background-color: rgb(250, 250, 247);
    box-shadow: 2px 2px gray;
}

#title {
    font-size: 28px;
}

#tag-line, .rep-response{
    font-size: 14px;
}
/* ==============INTRO MAIN============ */
#intro-how, #set-heading {
    text-transform: uppercase;
}

.handwriting {
    font-size: 24px;
    font-family: 'Kaushan Script', cursive;
}

.initial-letter {
    font-size: 20px;
}
.instructions {
    padding: 5px 15px;
}

#intro-outro {
    text-align: center;
}

.intro-form, #intro-how {
    margin: 1em auto;
}

#tag, #intro-outro {
    margin: .7em auto;
}

#form-container {
    display: flex;
    justify-content: space-around;
}

#new-project {
    box-shadow:inset 0 0 1px 1px gray;
    width: 30vw;
}
/* ================QUESTION PAGE=====================*/
h1 {
    font-size: 30px;
}
#display-word > h2 {
    text-decoration: underline;
}

#display {
    padding: 0 15px;
}
#worry {
    text-align: center;
}
#get-word {
    width: 33%;
}

#question, #definition, #word {
    padding: 0 2em;
    margin: 5px auto;
}

#answer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#answer-field, #users-char {
    box-shadow: inset 0 0 2px 2px gray;
}

#answer-field {
    margin-right: 5px;
}

td, .list-item {
    text-align: left;
}

#submit, .rep {
    margin-left: 5px;
}

#answer-head {
    margin: 5px auto;
}

.rep-response {
    padding: 0;
    border-bottom: 2px solid rgba(150, 188, 250, 1);    
}

#set-answers {
    margin: 10px;
}
/* CAN I DELETE? */
#set-answers {
    margin-bottom: 20px;
}

input[type=button], input[type=submit], button {
    background-color: rgb(245, 229, 105);
    box-shadow: 2px 2px gray;
}

#submit-set {
    margin-bottom: 5px;
    width: 50%;
}

/* =============SAVE MODAL ============= */
#save-modal, #modal-2 {
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    display: none;
}

#save-modal-block, #modal-2-block {
    background-color: white;
    height: 275px;
    width: 70%;
    margin: 100px auto;
    overflow: auto;
    border: 4px solid rgb(245, 229, 105);    
    box-shadow:inset 0 0 1px 1px gray;
    padding: 1em;
}

p {
    text-align: justify;
}

.modal-box {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;

}
.modal-box>h1, #center-div>h1 {
    font-family: 'Kaushan Script', cursive;
    margin: 0px auto;
}

a:hover, input[type="button"], button {
    cursor: pointer;
}

.button-container {
    display: flex;
    justify-content: space-around;
    margin-top: 5px;
}

button {
    text-decoration: none;
}

#exit {
    background-color: rgb(245, 229, 105);
    text-decoration: none;
    color: black;
    padding-bottom: 0px;
    /* box-shadow: 2px 2px gray; */
    font-size: 13.3333px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.3em;
}

#exit, #continue {
    width: 86px;
    border: .13em solid rgb(0, 0, 0);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .5), inset -2px -2px 2px rgba(0, 0, 0, .5);
}

/* ================EXIT SCREEN=========== */

#goodbye-container {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 100vh;
    width: 90vw;
}

#goodbye-div {
    padding: 1.5em;
    margin: auto;
    height: 40vh;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#home {
    border: 1px solid rgb(0, 0, 0);
    box-shadow: inset 2px 2px 2px rgba(255, 255, 255, .5), inset -2px -2px 2px rgba(0, 0, 0, .5);
    background-color: rgb(245, 229, 105);
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 2px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13.33px;
    line-height: 1.3em;
}

#encourage {
    text-align: center;
}

/* ==============CHARACTER PAGE============== */

#users-char {
    width: 70vw;
    padding: 1em;
}

#char-submit {
    margin: 5px 0 10px 0;
}

#char-list {
    padding: 15px 5px 15px 20px;
}



#answer {
    width: 70%;
}

#response-head {
    width: 80%;
}

#answer-section, #set-list {
    display: none;
}

#character-page, #question-page {
    display: none;
}

